@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

html, body {
	background-image: url('http://getwallpapers.com/wallpaper/full/0/3/d/52559.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Fjalla One', 'Numans', sans-serif;
}

.container {
	height: 100%;
	align-content: center;
}

.container .card {
	height: 67%;
	margin-top: auto;
	margin-bottom: auto;
	width: 47%;
	background-color: rgba(0,0,0,0.5) !important;
}

.container .card .card-header h3 {
	color: white;
}

.container .card .card-body .input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
}

.container .card input:focus {
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}

.container .card .card-body .sig_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.container .card .card-body .sig_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}