$root-color: #F04A26;
%message {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13;
    color: #3a3a3a;
}

* {
    @extend %message;
    background-color: $root-color;
}